@model IEnumerable<DietDiagnosis.Models.Food>
@{
    ViewBag.Title = "FoodsDisplay";
    Layout = "~/Views/Shared/_InsideLayout.cshtml";
}
<style>
    #foods th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        width: auto;
        background-color: #677d68;
        color: white;
    }

    tr:hover {
        background-color: #9d4747;
    }

    body {
        background-color: #dae2e0;
    }
</style>
<div class="well well-lg"><h2>LIST OF FOODS</h2></div>


<table class="table table-hover table-striped" id="foods">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.AppUser.Exclusions)
                </td>*@
            <td>
                @Html.ActionLink("Details", "GetNutrientsInfo", "DietPlan", new { id = item.Id }, new { @class = "btn btn-info"})
            </td>
        </tr>
    }

</table>
