<!DOCTYPE html>
<style>
    .sidenav {
        height: 100%;
        width: 160px;
        margin-top: 60px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #1e2624;
        overflow-x: hidden;
        padding-top: 20px;
    }

        .sidenav a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
        }

            .sidenav a:hover {
                color: #f1f1f1;
            }

    .main {
        margin-left: 160px; /* Same as the width of the sidenav */
        font-size: 28px; /* Increased text to enable scrolling */
        padding: 0px 10px;
    }
</style>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            
            <div class="navbar-collapse collapse">
                
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div id="mySidenav" class="sidenav">
        <center><img src="~/Content/images/DD_logo_hex.png" /></center>
        <div>
            @using (Html.BeginForm("GetFoods", "DietPlan", FormMethod.Post))
            {
                <div style="padding-top:20px;" class="form-group">
                    <input style="width:90%; padding-left:10px; margin-left:5px" type="text" placeholder="Search Foods..." name="input" id="input" />

                </div>
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-10">
                        <input type="submit" value="Submit" style="width:100%" class="btn btn-sm" formaction="@Url.Action("GetFoods", "DietPlan")" formmethod="post" />

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-10">
                       @Html.ActionLink("Home", "Index", "AppUser","", new { @class = "btn btn-sm", @style = "width:100%; margin-top:10px;"})
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-10">
                        @Html.ActionLink("Settings", "Update", "DietPlan", "", new { @class = "btn btn-sm", @style = "width:100%; margin-top:10px;" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-10">
                        @Html.ActionLink("Contact", "Index", "AppUser", "", new { @class = "btn btn-sm", @style = "width:100%; margin-top:10px;" })
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Diet Diagnosis. An Open Source Project</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
